ul {
  list-style-type: none;
}

form {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

#main {
 background-color: #eeeeee;
 margin: 50px 25%;
 max-width: 480px;
 padding: 50px;
 font-family: Arial, Helvetica, sans-serif;
}
#selectCountry {
  -webkit-border-radius: 4px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  border-width: 0;
  margin-bottom: 2px;
  max-width: 378px;
  padding: 20px;
  width: 100%;
}
#selected {
  margin-top: 80px;
}

#selected ul {
  padding-left: 0;
  width: 100%;
}
#selected ul li {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}
#selected img {
  float: left;
}
#selected div {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

#selected div p {
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 10px;
}
#res {
  -webkit-border-radius: 4px;
  background-color: white;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-width: 418px;
}
#res li {
  /* display: inline-block; */
  display: none;
  font-size: 16px;
  padding: 20px;
  width: 100%;
}
#res > .show {
  margin-top: 8px;
}

#res > .show ~ .show {
  margin-top: 0px;
}
#res li.show {
  display: inline-block;
  max-width: 378px;
}

#res li.select {
  background-color: #eff6fc;
  max-width: 378px;
}
#res div {
  display: inline-block;
  float: left;
  max-width: 378px;
}
#res img {
  float: left;
  max-width: 32px;
  max-height: 16px;
}
#res p {
  margin: 0;
  margin-left: 30px;
}
#res span:first-of-type {
  font-weight: bold;
  margin: 0 20px;
}
input:focus {
  outline-width: 0;
}
